:root {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  cursor: pointer;
  transition: 0.2s ease;
  border: none;
  border-radius: 5px;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}